section.footer
  .logo
    h1 QM

  .social-links
    .twitter
    .website
    .dribbble
    .discord
    .github


  .site-map
    ul
      li HOME
      li TECH STUFF
      li OTHER STUFF
      li WHO AM I?
