section.footer
  .logo
    h1 QM

  .social-links
    a(href="https://twitter.com/quinnmyers" target="_blank")
      .twitter
    a(href="http://quinnmyers.me" target="_blank")
      .website
    a(href="https://dribbble.com/quinnmyers" target="_blank")
      .dribbble
    a(href="https://discord.gg/ZJ4Qb7w" target="_blank")
      .discord
    a(href="https://github.com/quinnmyers" target="_blank")
      .github

     


  .site-map
    ul
      li HOME
      li TECH STUFF
      li OTHER STUFF
      li WHO AM I?
