section.header



  .header-position
    .logo
      a(href='index.html')
        h2 QUINN MYERS

    .nav
        ul.desktop-nav
          li: a(href='techstuff.html') TECH STUFF
          li: a(href='nontechstuff.html') OTHER STUFF
          li: a(href='whoami.html') WHO AM I?

  .hamburger
    .line1
    .line2
    .line3

.mobile-nav
  ul
    li TECH STUFF
    li OTHER STUFF
    li WHO AM I?
