section.header
  .header-position
    .logo
      h2 QUINN MYERS

    .nav
        ul.desktop-nav
          li TECH STUFF
          li OTHER STUFF
          li WHO AM I?

  .hamburger
    .line1
    .line2
    .line3
