section.home
  .home-banner
    .avatar-container
      .avatar

    .intro-container
      .intro-text
        p Hi, I'm Quinn. Thanks for checking out my blog. Welcome to my mind (sorta)… Click the links above to check out different content depending on what interests you.

      .home-cta
        p Please don't forget to find me in other places, check the footer for some links.


  .newest-content
    .nc-banner
      .cta-text
        .latest-content
          h4 LATEST CONTENT!
      .cta-links
        .all-tech
          p view all tech posts

        .all-non
          p view all non-tech posts

    .article-container
      .article
        .article-header
          .title
            h2 Lorem Ipsum Dolor
          .date-subject
            .date
              p 8/16/16
            .subject
              p TECH STUFF

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
