section.home
  .avatar-container
    .avatar

  .intro-container
    .intro-text
      p Hi, I'm Quinn. Thanks for checking out my blog. Welcome to my mind (sorta)… Click the links above to check out different content depending on what you may be interested in.

    .home-cta
      p Please don't forget to find me in other places, check the footer for some links.
