section.techstuff
  .banner-container
    .banner

  .tech-intro-container
    .test
      .intro-avatar
        .avatar

      .tech-intro-text
        .text
          p Hey, welcome to the tech section of my blog.  My goal is to share with you topics I've found helpful so far in my learning journey. 
