.home
  display: flex
  justify-content: space-between

  width: 100%
  .avatar-container
    display: flex
    height: 215px
    width: 370px
    background: $lightgrey
    border: 1px solid $darkgrey
    border-radius: 4px

    .avatar
      width: 190px
      height: 100%
      margin: auto
      background:
        image: url(/assets/images/avatar.svg)
        repeat: no-repeat
        position: center


  .intro-container
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 215px
    max-width: 100%
    margin-left: 30px

    .intro-text
      display: flex
      width: 600px
      height: auto
      background: $lightgrey
      border: 1px solid $darkgrey
      border-radius: 4px
      p
        margin: 0
        padding: 20px
        line-height: 30px
        letter-spacing: 1px
        font-size: 12px
        font-family: $mainfont
        font-weight: bold

    .home-cta
      display: flex
      width: 600px
      height: auto
      background: $lightgrey
      border: 1px solid $darkgrey
      border-radius: 4px
      p
        margin: 0
        padding: 20px
        line-height: 30px
        letter-spacing: 1px
        font-size: 12px
        font-family: $mainfont
        font-weight: bold


@media (max-width: 915px)
  .home
    display: block

    .avatar-container
      display: block !important
      margin: auto !important

    .intro-container
      margin: auto !important
      max-width: 100% !important
      margin-top: 30px !important
      height: auto !important
      background: pink

      .intro-text
        width: 90%
        height: auto !important
        margin: auto
        margin-bottom: 15px !important

      .home-cta
        width: 90% !important
        height: auto !important
        margin: auto

@media (max-width: 840px)
  .home
    .intro-container
      margin-top: 20px !important
